    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;

    }
    body{

        background-color: #ebdd67f1;
        
        
    
       }
       .container2{
        padding: 20px 9%;
        display: flex;
        justify-content: center;
        flex-direction: column;

       }
       
    
    /*imagem principal*/
    .boximg{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 30px;
        
    

    
        
        
    }
    
    .boximag{
        transition: all 0.3s;
        }
    
        .boximag:hover{
        transform: scale(1.1);
        cursor: pointer;
        }
        
    
    

    /*Titulo Cafeteria*/
    h1{
        font-size: 60px;
        color: rgba(153, 101, 6, 0.938);
        margin-bottom: 10px;
        margin-left: 30px;
        text-align: center;
    
    }
    /*Sub Titulo cafeteria*/
    h2{
        font-size: 30px;
        color: rgba(105, 78, 4, 0.856);
        margin-left: 38px;
        margin-bottom: 20px;
        text-align: center;
    
    }
    .box2{
    padding: 30px;
    margin-left: 05px;

        
    }
   
    /*Seu especialista em café*/
    h3{
        font-size: 30px;
        color: rgba(105, 78, 4, 0.856);
        padding: 30px;
        margin-left: 150px;
    }
    /*como os herois*/
    p{
        color: rgba(105, 78, 4, 0.856);
        font-size: 20px;
        margin-bottom: 20px;
    line-height: 30px;
        padding: 30px;
    }

    .boxtwo{
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    /*três sequencias de fotos+ botões*/
    .boxwrap3{
        color: rgb(143, 105, 34);
                margin-left: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
             padding: 30px;
             

    }


    span{
        padding: 10px;
        
    }
    .boxwrap{
        display: flex;
    }
    /*Foto chicara central Preta*/
    .boxwrap{
     display: block 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 20px;    
    }

     .container4{
        padding: 30px;
        padding-left: 30px;
     }
    /* não somos uma cafeteria */
    h2{
        font-size: 20px;
        padding-left: 20px;
    }

    .firstimage{
    transition: all 0.3s;
    }

    .firstimage:hover{
    transform: scale(1.1);
    }


        


    .login{

        display: flex;
        flex-direction: column;
    width: 350px;
    height: auto;
    background-color: #ec892dde;;
    padding: 30px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    



    }

    form{
    display: flex;
    justify-content: center;
    }
    input{
        width: 300px;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    footer h2{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    }

   
    


@media screen and (max-width:760px){


}

   
@media screen and (max-width:600px){


}

        
    

